.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    padding-top: 92px;
    padding-bottom: 92px;
    display: grid;
    /* grid-gap: 80px; */
}

@media screen and (max-width: 1024px) {
    .places {
        width: 90%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .places {
        width: 90%;
    }
  }
  
  @media screen and (max-width: 425px) {
    .places {
        width: 90%;
    }
  }
  
  @media screen and (max-width: 375px) {
    .places {
      width: 90%;
      padding-top: 32px;
    }
  }