.footer__link {
    width: 50px;
    height: 18px;
    padding-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    transition: 0.5s ease;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 1;
    color: chocolate;
}

@media screen and (max-width: 767px) {
    .footer__link {
      /* padding-bottom: 30px; */
      padding-right: 0;
      font-size: 14px;
      line-height: 16px;
    }
  }