.place__link {
    margin: 0;
    margin-bottom: 12px;
    transition: .3s ease-in-out;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 50%;
    color:aqua;
}

@media screen and (max-width: 1024px) {
    .place__link {
      width: 95%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__link {
      width: 90%;
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .place__link {
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media screen and (max-width: 375px) {
    .place__link {
      font-size: 10px;
      line-height: 14px;
    }
  }