.cover__background {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../../images/cover-trains.jpg');
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: #FFFFFF;
}

.cover__background:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: 2s ease-in;
  }
  
  .cover__background:hover:before {
    opacity: 80%;
  }

  @media screen and (max-width: 1220px) {
    .cover__background {
    min-height: 700px;
    object-fit: contain;
    }
  }

  @media screen and (max-width: 1024px) {
    .cover__background {
    min-height: 640px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover__background {
    min-height: 480px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .cover__background {
    min-height: 200px;
    }
  }