  .place__website {
    max-width: 456px;
    align-self: flex-end;
    padding: 0;
    margin: 0;
  }
  
  @media screen and (max-width: 480px) {
    .place__website {
      padding: 0 16px 0 16px;
    }
  }